* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/bg-image.png);
  background-size: cover;
  /* background-repeat: no-repeat; */
  font-family:  "Alice", serif;

  line-height: 150%;

  color: #573A37;
}

main {
  padding: 0 24px ;
}

#page {
  width: 800px;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin: 48px auto;
}

#about h1 {
  color: #291B1A;

  font-family: "Alice", serif;
  font-weight: 400;
  font-size: 40px;

  line-height: 140%;

  margin-top: 24px;
  /* margin-bottom: 16px; */
}

#about p {
  font-weight: 400;

  margin-bottom: 12px;
}

#ingredients h2 {
  font-size: 24px;
  
  color: #291B1A;

  font-weight: 400;
  line-height: 150%;
}

ul {
  margin-left: 24px;
}

h2 {
  margin-top: 24px;
  margin-bottom: 12px;
}